@using Microsoft.AspNetCore.Identity
@using Hygge.Data

@inject SignInManager<HyggeUser> SignInManager
@inject UserManager<HyggeUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    
    var currentUser = await UserManager.GetUserAsync(User);
    <div class="navbar-nav ms-auto">
        <li class="nav-item d-flex align-items-center">
            <a type="button" id="avatarImg" >
            @if (currentUser!=null)
            {
                @if (currentUser.AvatarImageUrl != null)
                {
                    <img class="image-avatar" src="@currentUser.AvatarImageUrl" />
                }
                else
                {
                    <img class="image-avatar" src="~/img/avatar/default.jpg" />
                }
                
            }else{
                <img class="image-avatar" src="~/img/avatar/default.jpg" />
            }
            </a>
             <dialog class="custorm-personal-modal" id="personalInfo">
                <div class="row">
                    <span class="col-11 text-center p-0">@UserManager.GetUserName(User)</span>
                    <button type="button" class="btn-close" id="closeInfo" aria-label="Close"></button>
                </div>
                <div class="col-11 d-flex align-items-center flex-column">
                    <div>
                        <a type="button" id="avatarImg">
                            <img class="avatar-info" src="~/img/3d-avatar.png" />
                        </a>
                        <i class="fa-solid fa-pen-to-square"></i>
                    </div>
                    <div class="text-center d-flex flex-column gap-1">
                        <span>
                            Hello  @if (currentUser != null)
                            {
                                @currentUser.Name
                            }
                            </span>
                        <div type="button" class="border border-primary btn-manager">Manage your Account </div>
                        <div class="btn-group btn-personal-group" role="group" >
                            <div class="btn btn-outline-secondary btn-personal btn-add-account">
                                <span><i class="bi bi-pen"></i>Add new account</span>

                            </div>
                            <div class="btn btn-outline-secondary btn-personal btn-logout">
                                <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                    <button id="logout" type="submit" class="p-0 nav-link btn btn-link text-dark border-0 ">Logout</button>
                                </form>
                            </div>
                        </div>
                        @* <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserName(User)</a> *@
                    </div>
                   
                </div>
            </dialog>
        </li>
    </div>
}
else
{
   <div class="navbar-nav ms-auto">
        <a class="nav-item">
            <div class="dropdown mx-2 d-none d-lg-block">
                <a class="btn meet-create dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="d-lg-inline">Try meet</span>
                </a>
                <ul class="dropdown-menu">
                    <li><span class="dropdown-item">For businesses</span></li>
                    <li><span class="dropdown-item">For Everyone</span></li>
                </ul>
            </div>
        </a>
        <a class="nav-item btn btn-login" type="button" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
}
